<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Все пользователи</title>
</head>
    <body>
    <div th:each="person : ${people}">
        <p th:text="'Пользователь с именем: ' + ${person.getFirstName()} + ' и фамилией ' + ${person.getLastName()} + ' ID = ' + ${person.getID()}"></p>
        <form th:action="@{/first/{id}(id=${person.getID()})}" th:method="DELETE">
            <input type="submit" value="Удалить" />
        </form>
    </div>
    </body>
</html>