<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Все пользователи</title>
</head>
    <body>
        <div th:each="persone :${people}">
<!--            <form th:method="DELETE" th:action="@{/first/{id}(id=${persone.getID()})}">-->
                <p th:text="'Пользователь с именем: ' + ${persone.getFirstName()} + ' и фамилией ' + ${persone.getLastName()} + ' ID = ' + ${persone.getID()}"></p>
                <form th:method="DELETE" th:action="@{/first/{id}(id=${persone.getID()})}">
                    <button type="submit">Удалить</button>
                </form>
        </div>
    </body>
</html>