<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Обновление</title>
</head>
<body>
  <form th:method="PATCH" th:action="@{/Employee/{id}(id = ${permission.getPerson().getID()})}" th:object="${permission}">
    <label for="firstName">Введите имя: </label>
    <input type="text" th:field="*{personInfo.firstName}" id="firstName">
<!--    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">FirstName Error</div>-->
    <br/>
    <label for="lastName">Введите фамилию: </label>
    <input type="text" th:field="*{personInfo.lastName}" id="lastName">
<!--    <div th:if="${#fields.hasErrors('permission.personInfo.lastName')}" th:errors="*{permission.personInfo.lastName}">LastName Error</div>-->
    <br/>
    <label for="age">Введите возраст: </label>
    <input type="text" th:field="*{personInfo.age}" id="age">
<!--    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>-->
    <br/>
    <label for="department">Введите департамент</label>
    <input type="text" th:field="*{personInfo.department}" id="department">
<!--    <div th:if="${#fields.hasErrors('department')}" th:errors="*{department}">Department Error</div>-->
    <br/>
    <label for="email">Введите email</label>
    <input type="text" th:field="*{personInfo.email}" id="email">
<!--    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>-->
    <br/>
    <label for="login">Введите логин: </label>
    <input type="text" th:field="*{person.login}" id="login">
    <br/>
    <label for="password">Введите пароль: </label>
    <input type="text" th:field="*{person.password}" id="password">
    <br/>
    <label for="role">Введите роль: </label>
    <input type="text" th:field="*{role.role}" id="role">
    <button type="submit">Обновить пользователя</button>
  </form>
</body>
</html>